<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>





    </head>

    <body>
        
        <div>
            <div>
                <!--Web header-->
            </div>
            <div>
                <!--Main Section-->                                                                             
                <div> <!--WebCam-->
                </div>
                <div>
                    <!--QnA-->
                    <div> <!--Q Appear randomly-->
                       <input>
                    </div>
                    <div> <!-- Answer  Form  -->
                        <form>
                            <textarea placeholder="Your Answer appears here!"></textarea>
                            <button type="submit"></button>
                        </form>
                    
                    </div>
                </div>


            </div>
            <div>
                <!--Footer-->
            </div>

            


        </div>


    </body>
</html>